
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.btn-primary{
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* button hober effect */
.btn-primary:hover {
    background-color: #fff;
    color: #4e47ff;
    border: 1px solid #4e47ff;
}



/* Nav styles  Start*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}


.nav-logo{
    font-weight: 800;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}

nav ul li{
    list-style: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
}


.banner-title{
    font-weight: 700;
    font-size: 65px;
    justify-content: center;
    color: rgba(37, 36, 50, 1);
    
}

.stay-focused {
    margin-bottom: 200px;
}
/* Nav styles  End*/


/* Action style Start */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 150px;
    padding: 0 100px;
}
.action-title{
    font-weight: 700;
    font-size: 42px;
}

.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.action-div-2 img {
    border-radius: 20px;
}
/* Action style End */


/* productive-user section style Start */
.productive-user{
    background-color:rgba(78, 71, 255, 0.1);
    padding: 90px 60px;
    border-radius: 20px;
    text-align: center;
    max-width: 1150px;
    margin: 80px auto;
}

.productive-container{
    display: flex;
    justify-content: space-between;
}

.productive-heading{
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 40px;
}

.productive-item{
    flex: 1;
    min-width: 150px;
}

.productive-title{
    font-size: 80px;
    font-weight:900;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 8px;
}

.productive-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* productive-user section style End */


/* REVIEW STYLES Start*/
.review-cotainer{
    background-color: rgb(246, 248, 252);
    padding: 40px 20px;
    text-align: center;
}

.review-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.review-header{
    font-size: 42px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: 50px;
}

.review{
    background: rgb(255, 255, 255);
    padding: 24px 24px;
    margin: 20px;
    border-radius: 14px;
    max-width: 300px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
    text-align: left;
    
}

.star-rating{
    margin-bottom: 10px;
}

.review-heading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(30, 30, 30, 1);
}

.review-comment {
  font-size: 14px;
  color: rgba(30, 30, 30, 1);
  margin-bottom: 15px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewre-name{
    font-size: 14px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}

.review-date{
    font-size: 12px;
    color: rgba(179, 179, 179, 1);
}
/* REVIEW STYLES End*/


/* newsletter form Style */
.newsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
}
.newsletter-heading{
    font-size: 70px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 20px;
}
.lable-name-adjustment{
    justify-content: start;
    font-weight: 500;
    margin-bottom: 6px;
}
.content-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email-form{
    display: flex;
    flex-direction: column;
}
.form-adjustment{
    padding: 20px;
    border-radius: 6px;
    border: none;
    width: 390px;
}
/* newsletter form style end */

/* Footer Styles start*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.footer-links{
     display: flex;
     flex-direction: row;
     gap: 50px;
     list-style: none;
}
.footer-description{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    text-align: center;
    max-width: 500px;
}
/* Footer Styles end*/